<div class="container d-flex justify-content-center align-items-center">
    <ngb-carousel  *ngIf="grupoJuegos.length > 0" [interval]="4000" [wrap]="true" [pauseOnHover]="true" [keyboard]="true">
        <ng-template ngbSlide *ngFor="let grupo of grupoJuegos">
            <div class="d-flex justify-content-center flex-wrap gap-5">
                <div class="card p-2 shadow-sm bg-dark-subtle" *ngFor="let game of grupo" style="width: 200px;">
                    <img [src]="game.image" class="card-img-top" alt="{{ game.name }}">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ game.name }}</h5>
                        <p class="card-text text-success fw-bold">${{ game.price }}</p>
                        <p class="card-text">
                            <span class="badge" [ngClass]="game.stock > 0 ? 'bg-success' : 'bg-danger'">
                                {{ game.stock > 0 ? 'IN STOCK' : 'OUT OF STOCK' }}
                            </span>
                        </p>
                    </div>
                    @if (game.stock > 0){
                        <div class="card-footer">
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm" type="button" (click)="addToCart(game)" (click)="getTotalCount()">
                                    COMPRAR <i class="pi pi-shopping-cart"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <app-input-integer [(cantidadCart)]="game.cart" [max]="game.stock" (maxAlcanzado)="maxAlcanzado($event)"></app-input-integer>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
</div>
