<p-carousel [value]="games" [numVisible]="4" [numScroll]="1" [circular]="true"  autoplayInterval="4000" data-bs-theme="dark" class="m-4"> <!-- [responsiveOptions]="responsiveOptions" -->
    <ng-template let-game #item>
        <div class="border border-surface-200 dark:border-surface-700 rounded m-2 p-4 bg-dark text-white">
            <div class="mb-4">
                <div class="relative mx-auto">
                    <img [src]="game.image" [alt]="game.name" class="w-full rounded-border" />
                    <p-tag [value]="game.inventoryStatus"  class="absolute dark:!bg-surface-900" [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" /> <!-- [severity]="getSeverity(product.inventoryStatus)" -->
                </div>
            </div>
            <div class="mb-4 font-medium">{{ game.name }}</div>
            <div class="flex justify-between items-center">
                <div class="mt-0 font-semibold text-xl">{{ '$' + game.price }}</div>
                <span >
                    <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" />
                    <p-button icon="pi pi-shopping-cart" severity="info" styleClass="m-2" />
                </span>
            </div>
        </div>
    </ng-template>
</p-carousel>
