<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Carrito de Compras</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul>
            <li *ngFor="let game of (cartList$ | async)">
                ✔️ {{game.cart}} {{game.name}} - ${{game.price * game.cart}}
            </li>
            <h3>Total: ${{ totalCount$ | async }} </h3>
        </ul>
    </div>
</div>
