<ul class="dropdown-menu bg-dark-subtle">
    <li>
        <div class="card">
            <div class="input-group d-flex flex-column align-items-center">
                <button class="btn btn-outline-secondary btn-sm" (click)="upCart()">
                    <i class="fa-solid fa-plus"></i>
                </button>

                <input type="text" class="text-center w-25" [(ngModel)]="cantidadCart" (keyup)="changeOnCart($event)"/>

                <button class="btn btn-outline-secondary btn-sm" (click)="downCart()">
                    <i class="fa-solid fa-minus"></i>
                </button>
            </div>
        </div>
    </li>
</ul>

